body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.form-container {
    width: 100%;
    max-width: 400px;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px 10px 10px 5px;
    font-size: 16px;
    border: 0px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translateY(-50%);
}

.form-control.has-value~.form-label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #20c997;
}

.btn {
    background-color: #20c997;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #17a589;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.line-container::before,
.line-container::after {
    content: "";
    flex: 1;
    height: 4px;
    background-color: #2C3E50;
    margin: auto;
}

h1 {
    color: #2C3E50;
}

i {
    color: #2C3E50;
}