<div class="container">
    <div class="d-flex flex-column justify-content-center align-content-end bg-color p-5">
        <div class="text-center">
            <h1 class="main-color">Portfolio Component</h1>
            <div class="w-25 m-auto mb-2">
                <div class="line-container">
                    <i class="fa-solid fa-star main-color"></i>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col">
                <div class="card h-100 rounded-3 overflow-hidden position-relative">
                    <img src="./home.png" class="card-img-top w-100 rounded-3" alt="Image 1" />
                    <div
                        class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 rounded-3 overflow-hidden position-relative">
                    <img src="./cake.png" class="card-img-top w-100 rounded-3" alt="Image 2" />
                    <div
                        class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1"></i>
                    </div>
                </div>
            </div>

       
            <div class="col">
                <div class="card h-100 rounded-3 overflow-hidden position-relative">
                    <img src="./circus.png" class="card-img-top w-100 rounded-3" alt="Image 3" />
                    <div
                        class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 rounded-3 overflow-hidden position-relative">
                    <img src="./home.png" class="card-img-top w-100 rounded-3" alt="Image 1" />
                    <div
                        class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1"></i>
                    </div>
                </div>
            </div>

 
            <div class="col">
                <div class="card h-100 rounded-3 overflow-hidden position-relative">
                    <img src="./cake.png" class="card-img-top w-100 rounded-3" alt="Image 2" />
                    <div
                        class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1"></i>
                    </div>
                </div>
            </div>

 
            <div class="col">
                <div class="card h-100 rounded-3 overflow-hidden position-relative">
                    <img src="./circus.png" class="card-img-top w-100 rounded-3" alt="Image 3" />
                    <div
                        class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-plus fs-1"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>