<nav class="navbar navbar-expand-lg mynavbar">
    <div class="container-fluid p-4 ms-3 me-4">
      <a class="navbar-brand text-white fs-4 fw-bold" href="#">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 pe-2 ps-3">
    
          <li class="nav-item ">
            <a class="nav-link text-white fs-4 fw-bold" routerLinkActive="active rounded-3" routerLink="about" >ABOUT</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white fs-4 fw-bold"  routerLinkActive="active rounded-3"  routerLink="portfolio" >PORTFOLIO</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white fs-4 fw-bold"  routerLinkActive="active rounded-3"  routerLink="contact" >CONTACT</a>
          </li>
 
        </ul>
     
      </div>
    </div>
  </nav>
