<div class=" about container-fluid">
    <div class="text-center d-flex flex-column justify-content-center align-items-center bg-color text-white min-vh-100">
        <div class="w-25 text-center">
            <h2>ABOUT COMPONENT</h2>
            <div class="line-container">
                <i class="fa-solid fa-star text-white"></i>
            </div>
        </div>
        <div class="row w-75 mt-4">
            <div class="col">
                <p class="text-wrap">Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
            <div class="col">
                <p class="text-wrap">Freelancer is a free bootstrap theme created by Route. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                    customization.</p>
            </div>
        </div>
    </div>
</div>