<div class="container-fluid bg-footer p-5 text-white">
    <div class="row">
        <div class="col  d-flex  flex-column justify-content-center align-items-center">
            <h3>LOCATION</h3>
            <h6>2215 John Daniel Drive</h6>
            <h6>Clark, MO 65243</h6>
        </div>
        <div class="col  d-flex  flex-column justify-content-center align-items-center">
            <h3>AROUND THE WEB</h3>
            <ul class="list-unstyled d-flex justify-content-center align-items-center">
                <div class="border rounded-circle d-flex justify-content-center align-items-center me-3 px-2 py-1">
                    <li> <i class="fa-brands fa-facebook"></i></li>
                </div>

                <div class="border rounded-circle d-flex justify-content-center align-items-center me-3 px-2 py-1">

                    <li><i class="fa-brands fa-twitter"></i></li>
                </div>
                <div class="border rounded-circle d-flex justify-content-center align-items-center me-3 px-2 py-1">
                    <li> <i class="fa-solid fa-globe"></i></li>

                </div>
                <div class="border rounded-circle d-flex justify-content-center align-items-center me-3 px-2 py-1">

                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                </div>
            </ul>
        </div>
        <div class="col  d-flex  flex-column justify-content-center align-items-center">
            <h3>ABOUT FREELANCER</h3>
            <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>

<div class="container-fluid bg-copyright text-white text-center p-2  pt-4">
    <p>Copyright © Your Website 2021</p>
</div>